{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}
<div class="container-fluid">

</div>

<div class="container">
  <h2>Admin Dashboard</h2>

  <table class="table table-striped table-bordered table-responsive table-hover">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">Create Jobs</a></li>
    <li><a href="#">Jobs</a></li>
  </ul>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last name</th>
        <th>English Proficiency</th>
        <!-- <th>Skills</th> -->
        <th>Email</th>
        <th>Phone</th>
        <th>Select</th>
        <th>Update</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
    {%for user in usersData%}
      <tr id="{{user.id}}">

        <td>{{user.fname}}</td>
        <td>{{user.lname}}</td>
        <td>{{user.english}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
        <td><input type="checkbox" value="{{user.id}}" name="Select"></td>
        <td><a href="/user/{{user.id}}/edit">Edit</a></td>
        <td>Available</td>
      </tr>
    {%endfor%}



    </tbody>
  </table>

  <button id="delete" class="btn btn-danger">Delete</button>
 <!--  <form method="post" action="/admin/users/delete"> <input type="submit" name= "delete" value="Delete" class="btn-danger"> </form> -->
  <input type="submit" name="hired" value="Hired" class=".btn">
  <input type="submit" name="available" value="Available" class=".btn">
  <input type="submit" name="blocked" value="Block" class=".btn">
</div>


{% endblock %}