{% extends 'layout.html' %}

{% block title %}{% endblock %}



{% block content %}
    <div class="container-fluid">
        <div class="row">
            <img id="cultureHeaderImg" src={{cultureData.header_img}} alt="Header Image for {{cultureData.name}} Culture Page">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h1 class="pop">{{cultureData.name}} Culture</h1>
            <hr>
        </div>
    <!-- everything good above this point -->

        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <h4><em>Why are these people displaced?</em></h4>
                    <p>{{cultureData.why}}</p>
                </div>
                <div class="row">
                    <h4><em>Common work phrases</em></h4>
                    <img src ={{cultureData.phrases_link}} alt="Useful {{cultureData.name}} phrases">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <h4><em>American Population</em></h4>
                    <p>
                    {{cultureData.us_num}} {{cultureData.name}} refugees came
                    to live in America in 2014 and {{cultureData.co_num}} of that number moved to Colorado.
                    </p>
                </div>
                <div class="row">
                    <h4><em>Traditonal Foods</em></h4>
                    <p>{{cultureData.foods}}</p>
                </div>
                <div class="row">
                    <h4><em>Helpful Resources</em></h4>
                    <p>Contact these resource(s) for services such as translation and employee support</p>
                    {% for resource in cultureResources %}
                        <a href={{resource.website}}><p>{{resource.name}}</p></a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>




{% endblock %}