{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <h1>Welcome to Alligator Jobs!</h1>
    <hr>

    <h3><em>What is Alligator Jobs?</em></h3>
    <h4>Alligator Jobs is a tool for refugee job seekers and job coordinators working with refugees in Colorado. Job seekers can create a profile based on <em>their skills</em> instead of job history.</h4>

    <h3><em>Why skills instead of job history?</em></h3>
    <h4>Some Refugees come to Colorado from conflict-torn countries. Others grew up or spent long periods of time in refugee camps away from their homes. Generally, people in either situation are unable to hold jobs or build careers.</h4>

    <div class="box">
        <h4>Are you a refugee new to Colorado looking for a job? <a class="pop" href="/register">Register Now</a></h4>

        <h4>Are you a job coordinator working with refugees looking for a way to keep your case load organized? <a href="#" class="pop">Contact us for a demo of the Alligator Jobs Job Coordinator Dashboard</a></h4>
    </div>
  </div>

{% endblock %}
