{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}
    <div class="container">
        <h3>Already a user? <a href='/login'>Go to Login page</a></h3>

        <a href="/auth/google"><img src="/image/google.png" alt="Register with Google button"></a>

        <hr>
        <h4>OR</h4>
        <hr>
        <div class="container">
            {% if message.length %}
            <div class="alert alert-{{message[0].status}}" role="alert">
                <p>{{ message[0].message }}</p>
            </div>
            {% endif %}
        </div>
        <form class="form-horizontal" method="post" action="/register">
            <fieldset>
                <legend>Register</legend>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="fname">First Name</label>
                    <div class="col-md-4">
                        <input id="fname" name="fname" type="text" placeholder="" class="form-control input-md" required="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="lname">Last Name</label>
                    <div class="col-md-4">
                        <input id="lname" name="lname" type="text" placeholder="" class="form-control input-md" required="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="email">Email</label>
                    <div class="col-md-4">
                        <input id="email" name="email" type="email" placeholder="" class="form-control input-md" required="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="password">Password</label>
                    <div class="col-md-4">
                        <input id="password" name="password" type="password" placeholder="" class="form-control input-md" required="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <input type="submit" value="Register" class="btn btn-primary">
                    </div>
                </div>
            </fieldset>
        </form>


    </div>


{% endblock %}